{
  "movieDb": {
    "apiKey": "",
    "url": "https://api.themoviedb.org/3/",
    "images": {
      "url": "https://image.tmdb.org/t/p/",
      "size": {
        "small": "w45",
        "big": "w154"
      }
    }
  },
  "serviceWorker": {
    "caches": {
      "assets": {
        "name": "assets-1",
        "files": [
          "/",
          "/index.html",
          "/css/main.css",
          "/js/main.js"
        ]

      },
      "movies": {
        "name": "movies-1"
      },
      "images": {
        "name": "images-1"
      }
    }
  }
}
